@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-6xl absolute top-32 left-8 font-bold landinpage-text ">
        Bienvenido <br>
        a la mejor <br>
        peluqueria <br>
        de Ituzaingo
    </h1>
</div>
