body {
}


@font-face {
    font-family: "Akira Expanded";
    src: url("../resources/fonts/" format("opentype");
    font-weight: 400;
    font-style: normal;
}

.landinpage-text {
    font-family: "Akira Expanded", sans-serif;
    font-size: 4rem;
}

.appointment-container {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 750px;
    background-color: #fff9b6;
    padding: 20px;
    padding-left: 30px;
}

.appointment-item ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

li {
    list-style-type: none;
}
